@import "tailwindcss";
@font-face {
  font-family: 'Futura Cyrillic Heavy';
  src: url('/fonts/FuturaCyrillicHeavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Extra Bold';
  src: url('/fonts/FuturaCyrillicExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
