<div class="container-home">
  <div class="header text-center">
    <h1 class="text-4xl font-bold mb-4">JA</h1>
  </div>
  <div class="reels">
    <div class="reel-1">
      <img src="app/assets/images/filmHome_v004.jpeg" alt="film-home">
    </div>
    <div class="reel-2">
      <img src="app/assets/images/commHome_v004.jpeg" alt="commerical-home">
    </div>
  </div>
  <footer>
    <div class="footer-content text-center text-5xl">
      <p class="linkeidn">&copy; 2025 JA. All rights reserved.</p>
    </div>
  </footer>
</div>
