<div class="container-home">
  <div class="header flex justify-between">
    <h1 class="header-title font-extrabold text-[50px] tracking-[-0.06em]" style="font-family: 'Futura Extra Bold', sans-serif; color: white;">
      Joan Azpeitia
    </h1>
    <h1 class="header-title font-extrabold text-[50px] tracking-[-0.06em]" style="font-family: 'Futura Extra Bold', sans-serif; color: white;">
      Digital Compositor
    </h1>
  </div>
  <div class="reels">
    <div class="reel-1 mb-24">
      <a href="https://vimeo.com/1052111279?share=copy" target="_blank">
        <img src="<%= asset_path("filmHome_v004.jpeg") %>" alt="film-home" class="hidden sm:block">
      </a>
      <a href="https://vimeo.com/1052111279?share=copy" target="_blank">
        <img src="<%= asset_path("filmHomePhone_v005.jpeg") %>" alt="film-home-phone" class="block sm:hidden">
      </a>
    </div>
    <div class="reel-2 mt-24">
      <a href="https://vimeo.com/393487630?fl=pl&fe=sh" target="_blank">
        <img src="<%= asset_path("commHome_v004.jpeg") %>" alt="commercial-home" class="hidden sm:block">
      </a>
      <a href="https://vimeo.com/393487630?fl=pl&fe=sh" target="_blank">
        <img src="<%= asset_path("commHomePhone_v005.jpeg") %>" alt="commercial-home-phone" class="block sm:hidden">
      </a>
    </div>
  </div>
</div>
