<div class="container-home">
  <div class="header">
    <h1 class="text-4xl font-bold mb-2">JA</h1>
  </div>
  <div class="reels">
    <div class="reel-1 mb-10">
      <img src="<%= asset_path('filmHome_v004.jpeg') %>" alt="film-home" class="hidden sm:block">
      <img src="<%= asset_path('filmHomePhone_v004.jpeg') %>" alt="film-home" class="block sm:hidden">
    </div>
    <div class="reel-2 mt-10">
      <img src="<%= asset_path('commHome_v004.jpeg') %>" alt="commercial-home" class="hidden sm:block">
      <img src="<%= asset_path('commHomePhone_v004.jpeg') %>" alt="commercial-home" class="block sm:hidden">
    </div>
  </div>
  <footer class="flex flex-col items-center">
    <p class="m-4">joanazpeitia@gmail.com</p>
    <div class="flex flex-row footer-content text-center text-xl mb-18">
      <a href="https://www.linkedin.com/in/joan-azpeitia-28517757/" target="_blank">Linkedin</a>
      <a href="https://www.imdb.com/name/nm6219186/" target="_blank">IMBD</a>
    </div>
      <p class="text-sm">&copy; 2025 Joan Azpeitia. All rights reserved.</p>
  </footer>
</div>
