<div class="container-home">
  <div class="header">
    <h1 class="header-title font-extrabold text-[50px] tracking-[-0.06em]" style="font-family: 'Futura Extra Bold', sans-serif; color: white;">
      JA
    </h1>
  </div>
  <div class="reels">
    <div class="reel-1 mb-10">
      <a href="https://vimeo.com/1052111279?share=copy" target="_blank">
        <img src="<%= asset_path("filmHome_v004.jpeg") %>" alt="film-home" class="hidden sm:block">
      </a>
      <a href="https://vimeo.com/1052111279?share=copy" target="_blank">
        <img src="<%= asset_path("filmHomePhone_v004.jpeg") %>" alt="film-home" class="block sm:hidden">
      </a>
    </div>
    <div class="reel-2 mt-10">
      <a href="https://vimeo.com/393487630?fl=pl&fe=sh" target="_blank">
        <img src="<%= asset_path("commHome_v004.jpeg") %>" alt="commercial-home" class="hidden sm:block">
      </a>
      <a href="https://vimeo.com/393487630?fl=pl&fe=sh" target="_blank">
        <img src="<%= asset_path("commHomePhone_v004.jpeg") %>" alt="commercial-home" class="block sm:hidden">
      </a>
    </div>
  </div>
  <footer class="flex flex-col items-center">
    <p class="email-text mt-30">
      joanazpeitia@gmail.com
    </p>
    <div class="flex flex-row footer-content text-center text-xl mb-18">
      <a href="https://www.linkedin.com/in/joan-azpeitia-28517757/" class="footer-link" style="font-family: 'Futura Cyrillic Heavy', sans-serif;" target="_blank">Linkedin</a>
      <a href="https://www.imdb.com/name/nm6219186/" class="footer-link" style="font-family: 'Futura Cyrillic Heavy', sans-serif;" target="_blank">IMBD</a>
    </div>
    <p class="copyright-text" style="font-family: 'Futura Cyrillic Heavy', sans-serif;">&copy; 2025 Joan Azpeitia. All rights reserved.</p>
  </footer>
</div>
